/*
 Theme Name:     WSU Grad School
 Theme URI:      https://gradschool.wsu.edu/
 Description:    A WSU Spine child theme for the Graduate School.
 Author:         WSU University Communications
 Author URI:     https://web.wsu.edu/
 Template:       spine
 Version:        1.4.1
*/
