
.degreelist {
	text-align: left;
}

.degreelist li {
	border-bottom: 1px solid #cecece;
	width: 100%;
	display: flex;
}

.degreelist li:after,
.flexalign:after {
	content: "";
	flex-grow: 1;
	order: 0;
}

.other,
.graduate-certificate,
.masters,
.doctorate {
	width: 30px;
	font-weight: 700;
	background: #ef6615;
	height: 30px;
	border-radius: 50%;
	color: #fff;
	visibility: hidden;
	flex-direction: column;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-right: 5px;
	text-transform: uppercase;
}

.doctorate {
	background: #931a2b;
	padding: 0;
}

.other.exists,
.graduate-certificate.exists,
.masters.exists,
.doctorate.exists {
	visibility: visible;
}

.degreelist .degreename {
	display: flex;
}

.degreelist .degreename a {
	margin-bottom: 10px;
	margin-top: 10px;
}

.degreelist .pagination a {
	width: 25px;
	height: 25px;
	border: 1px solid #cecece;
	padding: 5px;
	font-weight: 700;
	color: #333;
	display: inline-flex;
	justify-content: center;
	margin-bottom: 5px;
}

.degreelist .pagination a.active {
	background-color: #94192b;
	color: #fff;
}

.bigletter {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: 1px solid #cecece;
	color: #cecece;
	text-align: center;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	font-weight: 700;
}

.bigletter.active {
	color: #94192b;
}

.bigletterline {
	width: calc(100% - 60px);
	border-bottom: 1px solid #cecece;
	margin-left: 61px;
	transform: translateY(-30px);
}

.lettergroup {
	margin-top: 20px;
}

.lettergroup:first-of-type {
	margin-top: 40px;
}

.lettergroup ul {
	margin-left: 75px;
}

/* degrees page overrides */
.post-type-archive-gs-factsheet main ul li a:before,
.post-type-archive-gs-factsheet main ul li a:after,
.post-type-archive-gs-factsheet main ul li:before,
.post-type-archive-gs-factsheet main .pagination a:before,
.post-type-archive-gs-factsheet main .pagination a:after {
	display: none;
}

.degreeprograms {
	height: 190px;
	background-color: #f7f7f9;
	color: linear-gradient(to left, #ed6615, #880202, #880202);
}

.degreeprograms h1 {
	font: 300 50px/45px "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	background: -webkit-linear-gradient(135deg, #ed6615, #880202);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.degreesearchsection {
	height: 80px;
	background-color: #eff0f2;
	display: flex;
	align-items: center;
}

#searchdegreeinput {
	border: none;
	font-size: 25px;
	width: 100%;
	background: #eff0f2 url(https://wsuwp-uploads.s3.amazonaws.com/uploads/sites/1485/2016/10/search-gry.png) no-repeat left 14px;
	background-size: 16px;
	padding-left: 36px;
	outline-width: 0;
	outline: none;
}

.degreelist ul li {
	margin-left: 0;
}

.degree-row-bottom,
.degree-row-top {
	display: flex;
	width: 100%;
}

li.degree-row-wrapper {
	display: inline-block;
}

.key {
	display: inline-block;
	margin-top: 10px;
	float: right;
}

.key .other,
.key .graduate-certificate,
.key .masters,
.key .doctorate,
.key p {
	float: left;
}

.key p {
	margin-right: 8px;
}

.key .doctorate {
	margin-right: 20px;
}

@media screen and (max-width: 768px) {

	.lettergroup ul {
		margin-left: 11px;
		margin-top: 0;
	}

	.degreelist .degreename {
		max-width: 79%;
		margin-right: 5px;
		display: flex;
		justify-content: center;
	}

	.degreelist li .other,
	.degreelist li .graduate-certificate,
	.degreelist li .masters,
	.degreelist li .doctorate {
		margin: auto 3px;
	}

	.degreelist li {
		min-height: 45px;
	}
}
