h1 {
	color: #000;
	background: none;
	-webkit-text-fill-color: #000;
	font-size: 2em;
}

.style-bookmark .main-header {
	background: none;
	padding: 0;
	margin-top: 1em;
}

span.sup-header-default {
	color: #000;
}

span.sub-header-default {
	color: #000;
}

.footer {
	display: none;
}
